/* Contact.css */

.contact-container {
    background-color: #000000;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .contact-info {
    background-color: #333333; /* Slight grey shade */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .contact-info a {
    color: #ff6666; /* Accent color */
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
