/* HomePage.css */

.home-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  padding-top: 70px; /* Adjust for fixed header */
}

.home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-shadow-box {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.home-header {
  color: #080000;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
.home-header h1 {
  color: #080707; /* Darker text color for the h1 element */
  font-weight: bold;
  font-size: 40px; /* Adjust the size as needed */
}


.home-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.home-section {
  margin: 20px;
  padding: 20px;
  background-color: #2a2a2a; /* Dark section background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
}

.home-section:hover {
  transform: scale(1.05);
  background-color: #3a3a3a;
}

.home-section h2 {
  color: #ff6666; /* Accent color for headings */
}

.home-section p {
  color: #dddddd; /* Light text color for readability */
}

.home-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5); /* Almost unnoticeable */
}
