.events-container {
  text-align: center;
  padding: 20px;
  background-color: #1c1c1c; /* Dark background color */
  color: #ffffff; /* Light text color */
  min-height: 100vh;
}

.events-header {
  background-color: #333; /* Darker header background */
  padding: 20px;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.events-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
  gap: 20px;
  justify-items: center;
}

.event-item {
  background-color: #2a2a2a; /* Dark section background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100%; /* Ensures the item takes full width within the grid cell */
  max-width: 300px; /* Adjust max-width as needed */
  text-align: center;
}

.events-photo {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Slightly rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.event-text {
  color: #dddddd; /* Light text color */
  margin: 10px 0;
}

.events-content h3 {
  color: #ff6666; /* Accent color for headings */
  font-size: 1.5em; /* Increase heading size */
}

.events-content p {
  color: #dddddd; /* Light text color for readability */
  font-size: 1.2em; /* Increase text size */
}
.events-content h4 {
  color: #ff6666; /* Accent color for headings */
  font-size: 1.5em; /* Increase heading size */
}

.events-content p {
  color: #dddddd; /* Light text color for readability */
  font-size: 1.2em; /* Increase text size */
}
